
  
<div class="table-holder">
<p>
    <mat-toolbar style="background-color: #F8F9FA; border : 1px solid #DEE2E6; height:73px;border-radius: 10px 10px 10px 10px;">
    <div class="row" style="display: flex; gap:563px;">
    <div class="col-xl-4">
        <button (click)="addEmployee('3000ms', '1500ms')" style="margin-right: 0.5rem !important; width: 87px; height:41px; color: #FFFFFF; background-color: #21C25C; border: none;font-weight: 700;border-radius: 8px 8px 8px 8px;">New</button>
        <button (click)="delete()" [disabled]="isMultipleDelete" mat-raised-button color="warn" style="margin-right: 0.5rem !important; color: #FFFFFF; width: 30px; height:41px;border-radius: 8px 8px 8px 8px;"><mat-icon>delete</mat-icon></button>
    </div>
    <div class="col-xl-4">
        <button  style="margin-right: 0.5rem !important; width: 135px; height:41px; color: #FFFFFF; background-color: #3B82F6; border: none;font-weight: 700;border-radius: 8px 8px 8px 8px;"><mat-icon>add</mat-icon>Import</button>
        <button  style="margin-right: 0.5rem !important; width: 135px; height:41px; color: #FFFFFF; background-color: #A855F7; border: none;font-weight: 700;border-radius: 8px 8px 8px 8px;"><mat-icon> import_export</mat-icon>Export</button>
    </div>
</div>
    </mat-toolbar>
  </p>
  <p>
    <mat-toolbar style="background-color: #F8F9FA; border : 1px solid #DEE2E6; height:60px;border-radius: 10px 10px 10px 10px;">
      <div class="row" style="display: flex; gap:563px;">
        <div class="col-xl-4">
          <div class="title-holder">
            <h1 class="list-title">Employee Information</h1>
          </div>
        </div>
        <div class="col-xl-4">
          <input type="text" style="margin-right: 0.5rem !important; width: 210px; height:41px; color: #FFFFFF; border: 1px solid gray;;font-weight: 700;border-radius: 10px 10px 10px 10px;"></div>
        </div>

    </mat-toolbar>
  </p>
    <div class="items">
    
        <table mat-table [dataSource]="employeeList" style="width: 1049px; height: 320px;" class="mat-elevation-z8">

          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef >
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="EmpId" >
              <th class="header EmpId-column" mat-header-cell *matHeaderCellDef > EmpId. </th>
              <td mat-cell *matCellDef="let element"> {{element.EmpId}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="FirstName">
              <th class="header FirstName-column" mat-header-cell *matHeaderCellDef> FirstName </th>    
              <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="LastName">
              <th class="header LastName-column" mat-header-cell *matHeaderCellDef> LastName </th>
              <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="FullName">
              <th class="header FullName-column" mat-header-cell *matHeaderCellDef> FullName </th>
              <td mat-cell *matCellDef="let element"> {{element.FullName}} </td>
            </ng-container>

            <ng-container matColumnDef="Image">
                <th class="header Image-column" mat-header-cell *matHeaderCellDef> Image </th>
                <td mat-cell *matCellDef="let element"><img [src]="element.Image" style="width:70px ; height: 70px;"> </td>
              </ng-container>

              <ng-container matColumnDef="Department">
                <th class="header Allocate-column" mat-header-cell *matHeaderCellDef> Department </th>
                <td mat-cell *matCellDef="let element"> {{element.DeptName}} </td>
              </ng-container>

              <ng-container matColumnDef="Tagging">
                <th class="header Allocate-column" mat-header-cell *matHeaderCellDef> Tagging </th>
                <td mat-cell *matCellDef="let element"> <span (click)="AllocateDept(element)"><mat-icon style="color: #3B82F6;">add</mat-icon></span> </td>
              </ng-container>

              <ng-container matColumnDef="Edit">
                <th class="header Edit-column" mat-header-cell *matHeaderCellDef> Edit </th>
                <td mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Click to Edit" class="iconbutton"
                    color="primary">
                    <mat-icon>edit</mat-icon>
                  </button> </td>
              </ng-container>

               <ng-container matColumnDef="Delete">
                <th class="header Edit-column" mat-header-cell *matHeaderCellDef> Delete </th>
                <td mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Click to Delete" (click)="deleteRecord()" class="iconbutton"
                     color="warn">
                    <mat-icon>delete</mat-icon>
                  </button> </td>
              </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]">
          </mat-paginator>
     </div>
   </div>