
<div >
   <div class="content" style="background-color: wheat;">
    <div fxLayout="row wrap" fxLayoutGap="13px grid">
      <div fxFlex="18%" fxFlex.xs="90%" fxFlex.sm="33%" *ngFor ="let item of time">
        <mat-card class="mat-elevation-z4" style="width: 170px; height: 200px; margin-left:0px;" >
          <mat-card-header>
            <!-- <mat-card-title>Mountains {{num}}</mat-card-title> -->
          </mat-card-header>
          <img mat-card-image src="./../assets/bird.png" class="addmission-profile-image">
          <mat-card-content>
            <input type="checkbox"  style="width: 20px; height: 20px;">
            <!-- <p>
              The Himalayas is a mountain range in Asia.
            </p> -->
          </mat-card-content>
          <mat-card-actions>
            <!-- <button mat-button>LIKE</button>
            <button mat-button>SHARE</button> -->
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    </div>
</div>